*.com
*.class
*.dll
*.exe
*.o
*.so
*.sh
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip
*.log
*.sql
*.sqlite
*.DS_Store
*.DS_Store?
*._*
*.Trashes
*.htaccess
.htaccess
.DS_Store
.DS_Store?
ehthumbs.db
Thumbs.db
google*
.gitignore
.idea
helper/smtp-connection.php